<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Class Show Page</title>
</head>

<body>
    <h1>RateMyClass</h1>
    <div>
        <h3><%= classData.name %> </h3>
        <p>
        Enroll Here: <%= classData.url %> </br>
        Offered by <%= classData.offered %>
        </p>
    </div>
    <nav>
        <a href="/classes/<%= classId %>/reviews/new">Rate This Class</a>
    </nav>
    <div>
        Ratings:
        <p>
        Quality: <%= classData.quality %> </br>
        Difficulty: <%= classData.difficulty %> </br>
        Review: "<%= classData.review %>"
        </p>
    </div>
    <% if (classData.reviews && classData.reviews.length > 0) { %>
        <p>
            <% classData.reviews.forEach((review, index) => { %>
                    Quality: <%= review.quality %> </br>
                    Difficulty: <%= review.difficulty %> </br>
                    Review: "<%= review.review %>" </br>
                <a href="/classes/<%= classId %>/reviews/<%= index %>/edit">Edit</a>
                <form action="/classes/<%= classId %>/reviews/<%= index %>/delete" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            <% }); %>
        </p>
                        <!-- ADD LINK TO EDIT -->
                <!-- <a href="/classes/<%= classId %>/reviews/edit">Edit</a> -->
                       <!-- ADD DELETE -->
                <!-- <form action="/classes/<%= classId %>/reviews/?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form> -->
    <% } %></br>

    <a href="/classes">Back To Homepage</a>

</body>

</html>